/*CSS Stylesheet*/

:root {

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    grid-template-rows: 2fr 10fr;

}


/*MODAL------------------------------------*/

.modal {
    position: fixed;
    left: 0;
    top: calc(100vh/12*2);
    height: calc(100vh/12*10);
    width: 100%;
    background-color: white;
    z-index: 1;
    border: none;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-auto-flow: column;
    gap: 1rem;
}

.modal.visible {
    display: none;
}

.card {
    border: 2px solid black;
    border-radius: 8px;
    padding: 1rem;
    height: 40vh;
    width: max(20vw, 20rem);
    display: grid;
    justify-items: center;
}

.card input {
    height: min-content;
    padding: .25rem;
}

.ready {
    grid-row: 2/3;
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    padding: .5rem 1rem;
    background-color: white;
    border-radius: 8px;
    border: 2px solid black;
    margin-top: 2rem;
}

.ready:active {
    box-shadow: inset 0 0 4px 0 black;
}


/*HEADER-----------------------------------*/

header {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: center;
    align-content: stretch;
    align-items: center;
    gap: 1vh;
    font-size: 4vh;
}

header :nth-child(2) {
    transform: rotate(.12turn);
}



/*MAIN LAYOUT-------------------------------*/

main {
    display: grid;
    grid-template-columns: 10fr 2fr;
    max-height: 100%;
    max-width: 100%;
}

body > * {
    border: 2px solid black;

}



/*GAMEBOARD-----------------------------------------------*/

.gameArea {
    display: grid;
    grid-template-columns: repeat(3, min(8rem, 15vw));
    grid-template-rows: repeat(3, min(8rem, 15vw));
    align-content: center;
    justify-content: center;
    padding: 2rem;
}

/*Draw game board*/
.gameArea > * {
    border: 2px solid black;
}

.cell1, 
.cell2,
.cell3 {
    border-top: none;
}

.cell7,
.cell8,
.cell9 {
    border-bottom: none;
}

.cell1,
.cell4,
.cell7 {
    border-left: none;
}

.cell3,
.cell6,
.cell9 {
    border-right: none;
}

.cell {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 6rem;
    user-select: none;
}


/*SIDEBAR---------------------------------------------------*/

.info {
    display: flex;
    flex-direction: column;
}

.info > * {
    border: 2px solid black;
    flex: 1;
    display: grid;
    justify-items: center;
    align-items: center;
    max-height: 100%;
    grid-template-rows: 3fr 2fr 10fr;
    border-radius: 8px;
    margin: .5rem;
}

.info > div > h2 {
    grid-row: 2/3;
    align-self: end;
}

.info > div > div {
    grid-row: 3/4;
}

.marker {
    font-size: 4rem;
}


/*MEDIA QUERIES*/

@media screen and (orientation: portrait) {

    .modal .card:nth-child(2) {
        grid-row: 2/3;
    }

    .ready {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .card {
        height: 15vh;
        width: 60vw;
    }

    header {
        font-size: 5vw;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: 10fr 2fr;

    }

    .gameArea {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .info {
        flex-direction: row;
        width: 75%;
        justify-self: center;
    }


}